# --- files
#
#.gitignore
#
*.conf
*.log
*.txt
*.csv
*.db
*settings.py
*settings.json
*config.py
*test.py
*.swp
*.old
*.original

# --- dirs
#
**/__pycache__

**/[Ll][Oo][Gg][Ss]
**/[Tt][Ee][Ss][Tt]
**/[Ff][Ii][Ll][Ee][Ss]

